/*  styles.css */

body {
    background-color: rgb(210, 235, 252); 
    color: rgba(52, 50, 50, 0.938);
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: salmon;
    font-size: 21px;
}

.index_title{
    background-image: linear-gradient(rgb(233, 170, 252),rgb(143, 252, 176));
    text-align: center;
    padding: 20px;
   
}

.title{
    font-size: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



ol {
    color: rgb(227, 47, 143);
    font-size: 19px;
}

ul {
    color: rgb(227, 47, 143);
    font-size: 19px;
}

h1 { 
    color: rgb(33, 2, 62);
    font-size: 45px;
}

h2 { 
    color: rgb(62, 2, 49);
    font-size: 32px;
}
