/*  styles.css */

body {
    background-color: rgb(194, 231, 255); 
    color: rgba(52, 50, 50, 0.938);
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: salmon;
    font-size: 24px;
}

h1 { 
    color: rgb(33, 2, 62);
    font-size: 45px;
}

h2 { 
    color: rgb(62, 2, 49);
    font-size: 32px;
}
